
nav#nav-bar {
    background-color: #00a887;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 80px;
    z-index: 100;
}

img.logo {
    height: 80px;
    width: 80px;
}

span.header {
    font-size: 40px;
    position: absolute;
    line-height: 15px;
    margin-left: 10px;
    top: 40%;
    color: white;
}

#nav-bar button.btn.btn-light {
    float: right;
    margin-top: 10px;
    margin-right: 34px;
    width: 200px;
    height: 59px;
}